## Change package to install and config dir
openvpn:
  lookup:
    pkg: other-openvpn
    conf_dir: /var/share/openvpn

## Configure a single server with PK certificates, minimum configuration
openvpn:
  example-server:
    ca_cert: |
      -----BEGIN CERTIFICATE-----
      ... PUBLIC CERTIFICATE AUTHORITY SNIP ...
      -----END CERTIFICATE----- 
    cert: |
      -----BEGIN CERTIFICATE-----
      ... PUBLIC SERVER CERTIFICATE SNIP ...
      -----END CERTIFICATE----- 
    key: |
      -----BEGIN PRIVATE KEY-----
      ... PRIVATE SERVER KEY SNIP ...
      -----END PRIVATE KEY-----
    ta_key: |
      -----BEGIN OpenVPN Static key V1-----
      ... PRIVATE KEY SNIP ...
      -----END OpenVPN Static key V1-----
    dh: |
      -----BEGIN DH PARAMETERS-----
      ... DH PARAMETERS SNIP ...
      -----END DH PARAMETERS-----

## Two OpenVPN instances on one host (each will need the certificates aswell)
openvpn:
  server1:
    local: 1.2.3.4
    port: 53
    cipher: AES-218-CBC
    vpn_network: 192.168.100.0
    user: nobody
    group: nobody
    keepalive: 5 30
  server2:
    local: 1.2.3.4
    proto: tcp
    port: 443
    vpn_network: 172.16.0.0
    vpn_subnet: 255.255.0.0
    user: nobody
    group: nobody

##
## Common example
## pillar/example-ovpn/init.sls
openvpn:
  example-vpn:
    proto: udp
    dev: tun
    cipher: AES-256-CBC
    user: nobody
    group: nogroup
    ca_cert: |
      -----BEGIN CERTIFICATE-----
      ... PUBLIC CERTIFICATE AUTHORITY SNIP ...
      -----END CERTIFICATE----- 
    ta_key: |
      -----BEGIN OpenVPN Static key V1-----
      ... PRIVATE KEY SNIP ...
      -----END OpenVPN Static key V1-----

## pillar/example-ovpn/server.sls
openvpn:
  example-vpn:
    local: 1.1.1.1
    keepalive_send: 5
    keepalive_timeout: 60
    server_networks:
      - network: 3.3.0.0
        subnet: 255.255.0.0
      - network: 4.4.4.0      # Will use default netmask 255.255.255.0
    clients:
      test-openvpn-client:    # Common Name for the client
        client_networks:      # Network(s) that can be reached behind client
          - network: 5.5.0.0
	    subnet: 255.255.0.0
	  - network: 6.6.6.0  # Will use default netmask 255.255.255.0
    cert: |
      -----BEGIN CERTIFICATE-----
      ... PUBLIC SERVER CERTIFICATE SNIP ...
      -----END CERTIFICATE----- 
    key: |
      -----BEGIN PRIVATE KEY-----
      ... PRIVATE SERVER KEY SNIP ...
      -----END PRIVATE KEY-----
    dh: |
      -----BEGIN DH PARAMETERS-----
      ... DH PARAMETERS SNIP ...
      -----END DH PARAMETERS-----
    
## pillar/example-ovpn/client.sls
openvpn:
  example-vpn:
    remotes:
      - server: 1.1.1.1    # Will use default port of 1194
      - server: 2.2.2.1    # Specify multiple remotes for failover
        port: 6147         # Custom port can be specified per server
    cert: |
      -----BEGIN CERTIFICATE-----
      ... PUBLIC CLIENT CERTIFICATE SNIP ...
      -----END CERTIFICATE----- 
    key: |
      -----BEGIN PRIVATE KEY-----
      ... PRIVATE CLIENT KEY SNIP ...
      -----END PRIVATE KEY-----
   
## pillar/top.sls
base:
  'test-openvpn-server':
    - example-ovpn
    - example-ovpn.server
  'test-openvpn-client':
    - example-ovpn
    - example-ovpn.client

