## Change package to install and config dir
openvpn:
  lookup:
    pkg: other-openvpn
    conf_dir: /var/share/openvpn

## Configure a single server with PK certificates, minimum configuration
openvpn:
  example-server:
    ca_cert: |
      -----BEGIN CERTIFICATE-----
      ... PUBLIC CERTIFICATE AUTHORITY SNIP ...
      -----END CERTIFICATE----- 
    cert: |
      -----BEGIN CERTIFICATE-----
      ... PUBLIC SERVER CERTIFICATE SNIP ...
      -----END CERTIFICATE----- 
    key: |
      -----BEGIN PRIVATE KEY-----
      ... PRIVATE SERVER KEY SNIP ...
      -----END PRIVATE KEY-----
    ta_key: |
      -----BEGIN OpenVPN Static key V1-----
      ... PRIVATE KEY SNIP ...
      -----END OpenVPN Static key V1-----
    dh: |
      -----BEGIN DH PARAMETERS-----
      ... DH PARAMETERS SNIP ...
      -----END DH PARAMETERS-----

## Two OpenVPN instances on one host (each will need the certificates aswell)
openvpn:
  server1:
    local: 1.2.3.4
    port: 53
    cipher: AES-218-CBC
    vpn_network: 192.168.100.0
    user: nobody
    group: nobody
    keepalive: 5 30
  server2:
    local: 1.2.3.4
    proto: tcp
    port: 443
    vpn_network: 172.16.0.0
    vpn_subnet: 255.255.0.0
    user: nobody
    group: nobody
