{%- set config = salt['pillar.get']('openvpn:'+name, {}) -%}
# Managed by salt!
# Any changes made manually to this file may be lost.
# Config file for OpenVPN {{ name }} server

{# Mandatory options -#}
port {{ config.get('port', 1194) }}
proto {{ config.get('proto', 'udp') }}
dev {{ config.get('dev', 'tun') }}
server {{ config.get('vpn_network', '10.8.0.0') }} {{ config.get('vpn_netmask', '255.255.255.0') }}
cipher {{ config.get('cipher', 'BF-CBC') }}
ca {{ name }}/ca.crt
cert {{ name }}/{{ config.get('common_name', grains['host']) }}.crt
key {{ name }}/{{ config.get('common_name', grains['host']) }}.key
dh {{ name }}/dh.pem
{#- Default options #}
persist-key
persist-tun
verb {{ config.get('verb', 3) }}
ifconfig-pool-persist {{ name }}/ip.list
{#- Optional options #}
{%- if config.get('compression', True) %}
comp-lzo
{%- endif %}
{%- if config.get('client_to_client', False) %}
client-to-client
{%- endif %}
{%- if config.get('local') %}
local {{ config.get('local') }}
{%- endif %}
{%- if config.get('user') %}
user {{ config.get('user') }}
{%- endif %}
{%- if config.get('group') %}
group {{ config.get('group') }}
{%- endif %}
{%- if config.get('ta_key') %}
tls-auth {{ name }}/ta.key 0
{%- endif %}
{%- if config.get('keepalive_send') or config.get('keepalive_timeout') %}
keepalive {{ config.get('keepalive_send', 10) }} {{ config.get('keepalive_timeout', 120) }}
{%- endif %}
{%- if config.get('redirect_gateway', False) %}
push "redirect-gateway"
{%- endif %}
{%- for subnet in config.get('server_networks', []) %}
  {%- if subnet.get('network') %}
push "route {{ subnet.get('network') }} {{ subnet.get('netmask', '255.255.255.0') }}"
  {%- endif %}
{%- endfor %}
{%- if config.get('clients') %}
client-config-dir {{ name }}/clients
{%- endif %}
{%- for client in config.get('clients', {}) %}
  {%- for subnet in config.get('client_networks', []) %}
    {%- if subnet.get('network') %}
route {{ subnet.get('network') }} {{ subnet.get('netmask', '255.255.255.0') }}
    {%- endif %}
  {%- endfor %}
{%- endfor %}
